body {
    font-family: 'Century Gothic', sans-serif;
    font-size: 10pt;
    color: #043D68;
    line-height: 1.1;
    margin: 0; /* Reset default margin */
}

.container {
    display: flex;
    flex-wrap: wrap;
}

header, footer {
    width: 100%;
    background-color: #d4ebf2;
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.header-content {
    max-width: 600px; /* Adjust the maximum width of the header content */
    flex: 1;
}

main {
    flex: 2;
    padding: 20px;
    box-sizing: border-box; /* Include padding in the width calculation */
}

section {
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    font-size: 26pt;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1pt;
    margin-bottom: 6pt;
}

h2 {
    border-top: 2px solid #043D68;
    padding-bottom: 5px;
    padding-top: 20px;
}

h3 {
    padding-top: 10px;
}

/* Adjustments to text */

.normal {
    font-weight: bold;
    color: #043D68;
}

.subtitle {
    font-size: 12pt;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1pt;
    line-height: 1;
    margin-bottom: 6pt;
}

.top-line {
    border-top: none;
}

.trophy-icon {
    display: inline-block;
    color: goldenrod;
    width: 20px; /* Adjust the size as needed */
    height: 20px; /* Adjust the size as needed */
    background: url('trophy-icon.png') no-repeat center center; /* Replace 'trophy-icon.png' with your actual image path */
    background-size: cover;
    margin-left: 0px; /* Adjust the spacing between text and icon */
    margin-bottom: -3px;
}

.burger-menu {
    display: block;
    position: fixed;
    top: 30px;
    right: 30px; /* Adjusted to right: 0; */
    background-color: #d4ebf2;
    z-index: 1;
    padding: 20px;
    cursor: pointer;
}

.headshot {
    height: 250px;
    max-width: 50%;
    float: left;
    padding-right: 10px;
}

.column {
    flex: 0 0 100%;
    background-color: #d4ebf2;
    line-height: 1.1;
    padding: 20px;
    text-align: right;
    box-sizing: border-box;
    /* Initially hide the menu */
    display: none; /* Initially hide the menu */
    overflow: hidden; /* Hide content that exceeds max-height */
    transition: max-height 0.3s ease-out; /* Add a smooth transition effect */
    position: fixed;
    top: 60px;
    right: 0;
    z-index: 1;
}

.column a {
    display: block;
    padding: 5px 0; /* Add space vertically */
    text-decoration: none; /* Remove underline */
    color: #043D68; /* Set the text color */
}

.column.show-menu {
    display: grid;
    flex-direction: column;
    position: fixed;
    top: 90px;
    right: 30px;
    bottom: 0;
    background-color: #d4ebf2;
    z-index: 1;
    padding: 10px;
    max-height: 215px;
}

/* Adjustments for mobile responsiveness */
@media (max-width: 768px) {
    
    header, footer {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-content {
        width: 100%;
    }

    .column.show-menu {
        display: grid;
        flex-direction: column;
        position: fixed;
        top: 90px;
        right: 30px;
        bottom: 0;
        background-color: #d4ebf2;
        z-index: 1;
        padding: 10px;
        max-height: 215px;
    }
   
}
